.content {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  height: 30px;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
a {
  color: black;
}
.menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
  }
}
.blog_container {
  background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.metn {
  width: 20%;
  /* padding: 35% auto; */
  height: 250px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  
}
.overlay {
  width: 100%;
  height: 57.5vh;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
